<% include partials/header %>
<!-- ______________________________________________________________________ -->

<!-- header text -->
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h2>myPhilly Bars!</h2>
            <p>View my favorite philly bars</p>
            <p>
                <a href="/bars/new" class="btn btn-primary btn-large">Add New Bar</a>
            </p>
        </div>
    </header>
</div>


<h1>bars.ejs</h1>

<a href="/bars/new">Add new Bar</a>

<!-- image thumnails -->
<div class="row text-center" style="display:flex; flex-wrap:wrap;">

    <% bars.forEach(function(bar){ %>
        <div class="col-md-3 col-sm-6">
            <div class="thumbnail">
                <img src="<%= bar.image %>">
                <div class="caption">
                    <h4><%= bar.name %></h4>
                </div>
                <p>
                    <a href="/bars/<%= bar._id %>" class="btn btn-primary">More Info</a>
                </p>
            </div>
        </div>
    <% }); %>

</div>






<!-- ______________________________________________________________________ -->
<% include partials/footer %>
