<% include partials/header %>
<!-- ______________________________________________________________________ -->






<h1>landing.ejs</h1>

<h1>Welcome to myPhilly!</h1>

<a href="/bars">View All Bars</a>










<!-- ______________________________________________________________________ -->
<% include partials/footer %>
