<% include partials/header %>
<!-- ______________________________________________________________________ -->




<p>show.ejs</p>
<h1><%= bar.name %></h1>

<img src="<%= bar.image%>"/>

<p><%= bar.description %></p>






<!-- ______________________________________________________________________ -->
<% include partials/footer %>
