<% include ../partials/header %>
<!-- ______________________________________________________________________ -->

<!-- <h1>bars/index.ejs</h1> -->



<div class="container">
    <!-- header text -->
    <header class="jumbotron">
        <div class="container">
            <h1>myPhilly Bars!  <i class="fa fa-bell-o"></i></h1>
            <p>View My Favorite Philadelphia Bars!</p>
            <p>
                <a href="/bars/new" class="btn btn-primary btn-large">Add New Bar</a>
            </p>
        </div>
    </header>


    <!-- image thumnails -->
    <div class="row text-center div-thumb-style">

        <% bars.forEach(function(bar){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src="<%= bar.image %>">
                    <div class="caption">
                        <h4><%= bar.name %></h4>
                    </div>
                    <p>
                        <a href="/bars/<%= bar._id %>" class="btn btn-primary">
                            More Info
                        </a>
                    </p>
                </div>
            </div>
        <% }); %>

    </div>

</div> <!-- .container -->





<!-- ______________________________________________________________________ -->
<% include ../partials/footer %>
